.c-banner {
  position: relative;
  .e-cover {
    display: block;
    width: 100%;
    min-height: 100vh;
    background-image: url('../../images/banner/delaatstedowner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .e-content {
    @include position-center;
    width: 100%;
    // padding: 16px;
    img {
      display: block;
      margin: 0 auto;
      width: 100%;
      max-width: 372px;
    }
    p {
      color: $color-white;
      font-size: 18px;
      font-weight: 300;
      text-align: center;
    }
    .e-button {
      margin: 0 auto;
      margin-top: 35px;
      width: 100%;
      max-width: 212px;
      @include action-button;
      display: block;
    }
  }
}
