// Primair colors
$color-primair-500: #2683c9;

// Secondair color
$color-secondair-500: #FFC107;

// Text colors - Theme black
$color-black: rgba(0,0,0,1);

// Text colors - Theme white
$color-white: rgba(255,255,255,1);

$color-background: #fafafa;
$color-background-content: #fff;
